* {
    margin: 0;
   
}
.profile-pic {
    border-radius: 10%;
    
}

.header {
    background-color: #102E50;
    
}

.name-header {
    background-color: #F5C45E;
    border-radius: 5%;
}

.skills-box {
    background-color: #E78B48;
}

.side-quest {
    color: white;
}

.squat-img {
    height: 465px;
} 

/* second section */
.more-info{
    background-color: #E78B48;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 1fr;
    
}

.info-head {
    display: flex;
    justify-content: center;

}

.info-par{
    display: flex;
    justify-content: center;
    background-color: #102E50;
    color: antiquewhite;
    border-radius: 5%;
    
}

.info-section2 {
    display: flex;
    justify-self: center;
    width: 850px;
    padding-bottom: 10px;
}

.par {
   display: flex;
   align-items: center;
   padding-right: 5%;
   padding-left: 5%;
}

.browser-img {
    display: flex;
    justify-self: center;
    align-self: end;
    margin: 0;
    padding: 0%;
    width: 700px;
    height: 300px;
}







/* side quest section  */
.two, .three, .four {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}
.headline-ex {
    text-align: center;
    grid-column: span 3;
    padding-top: 10px;
    padding-bottom: 10px;
    color: antiquewhite;
}

.more-skills {
    background-color: #8d8f92;
}


.one {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E78B48;
    color: aliceblue;
    height: 200px;
    padding-right: 8px;
    padding-left: 15px;
    border-radius: 10px;
    width: 1000px;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-left: 122px;
}


